[submodule "external/basis_universal"]
	path = src/external/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "external/fmt"]
	path = src/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/external/KTX-Software"]
	path = src/external/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
